<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	
	<!-- Scan all (except controllers) Best Practices -->
	<context:component-scan base-package="com.sss.blogger">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
    <!-- Creates a java.util.Properties instance with values loaded from the supplied location -->
    <util:properties id="properties" location="classpath:webapp.properties"/>
    
    <!-- Configure transaction manager -->
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- Spring JPA Repositories -->
    <jpa:repositories base-package="com.sss.blogger.repository" />
    
    
    <!-- Import Sercurity -->
    <import resource="security.xml"/>
    
    <!-- Enable Scheduling -->
    <task:annotation-driven/>
    
    
    <beans profile="dev">
    	<import resource="database-dev.xml"/> 
    </beans>
    
    <beans profile="prod">
    	<import resource="database-prod.xml"/> 
    </beans>
    
    

</beans>
